:root {
  --yellow: #ffbb30;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg.png");
  /* font-family: sans-serif; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0 5%;
  background-repeat: no-repeat;
}

nav {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  flex: 1;
}

.image img {
  height: 80px;
}

.nav-menu-icon {
  display: none;
}

.menu-items {
  flex: 2;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
}

.menu-item {
  font-size: 25px;
}

.btn {
  font-size: 25px;
  background-color: #e03b8b;
  padding: 5px 40px;
  border: 0;
  border-radius: 15px;
  color: #ffffff;
  outline: 0;
}

.container {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.col {
  display: flex;
  flex: 0.5;
  min-height: 100%;
}

.col1 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.col2 {
  overflow: hidden;
}

.col2 img {
  position: absolute;
  height: 700px;
  bottom: 0;
  right: 0;
}

.col1 p {
  font-size: 25px;
}

.col1 h1 {
  font-size: 75px;
  margin: 20px 0;
}

.google-play-badge {
  height: 90px;
  margin-left: -15px;
}

@media screen and (max-width: 1250px) {
  .menu-items {
    display: none;
  }

  .nav-menu-icon {
    display: block;
    color: #ffffff;
    font-size: 40px;
  }

  .col2 img {
    height: 600px;
  }
}

@media screen and (max-width: 1020px) {
  .col2 {
    display: none;
  }
  .google-play-badge {
    height: 70px;
  }
}
